* {
  box-sizing: border-box;
}

.content {
  margin-top: 75px;
}
body {
  background-color: #004643;
  font-family: Inter, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #fffffe;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
  text-align: center;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
  text-align: center;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
  text-align: center;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
  text-align: center;
}

p {
  margin: 0;
  padding: 15px 0;
  text-align: center;
}
a {
  color: #f9bc60;
  text-decoration: none; /* No underlining */
}
a:hover {
  color: #f9bc60;
  text-decoration: underline; /* Underlining when hovering over a link */
}

.button.resume {
  background-color: #f9bc60;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}

.button.resume:hover {
  background-color: #f9bc60;
  color: #ffffff;
}
.button.contact {
  background-color: #f9bc60;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button.contact:hover {
  background-color: #f9bc60;
  color: #ffffff;
}

.button.dermapal {
  background-color: #f9bc60;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button.dermapal:hover {
  background-color: #f9bc60;
  color: #ffffff;
}

img {
  width: 100%;
}

nav > ul {
  display: inline-block;
}

nav > ul > li > a:hover {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  color: #f9bc60;
  font-weight: 700;
  letter-spacing: 0.05em;
  padding: 0 15px;
  margin: 0 10px;
  text-transform: uppercase;
}
main {
  padding-top: 99px;
}

#hero {
  background-color: #abd1c6;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#hero span {
  display: block;
}
#hero p {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 400;
  padding: 10px 0;
  line-height: 1.5;
  margin: 0;
  text-align: center;
}

/* Layout styling */
.container {
  padding: 0 15px;
}
header {
  background-color: #ffffff;
  text-align: center;
  padding: 10px 0;
  position: static;
  width: 100%;
}
.row {
  margin: px 30;
}
.logo {
  max-width: 250px;
  padding: 10px 0;
  margin: 10px 0;
}
nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
nav > ul > li { display: inline-block; }

footer {
  background-color: #004643;
  text-align: center;
  padding: 10px 0;
  position: static;
  width: 100%;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {

  header {
    text-align: center;
    padding: 20px 0 13px;
  }
  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }
}

/* ==============================
Large devices (1200px and larger)
================================= */
@media only screen and (min-width: 1200px) {

  header {
    text-align: center;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float:right;
    margin-top: 4px;
  }

/*animated buttons*/

  .button.resume {
  animation: wiggle 2s;
  animation-iteration-count: infinite;
}

@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}

.button.contact {
animation: wiggle 2s;
animation-iteration-count: infinite;
}

@keyframes wiggle {
0%, 7% {
  transform: rotateZ(0);
}
15% {
  transform: rotateZ(-15deg);
}
20% {
  transform: rotateZ(10deg);
}
25% {
  transform: rotateZ(-10deg);
}
30% {
  transform: rotateZ(6deg);
}
35% {
  transform: rotateZ(-4deg);
}
40%, 100% {
  transform: rotateZ(0);
}
}

.button.dermapal {
animation: wiggle 2s;
animation-iteration-count: infinite;
}

@keyframes wiggle {
0%, 7% {
  transform: rotateZ(0);
}
15% {
  transform: rotateZ(-15deg);
}
20% {
  transform: rotateZ(10deg);
}
25% {
  transform: rotateZ(-10deg);
}
30% {
  transform: rotateZ(6deg);
}
35% {
  transform: rotateZ(-4deg);
}
40%, 100% {
  transform: rotateZ(0);
}
}


@keyframes cloud-move {
    from {
        transform: translate(0, 50px);
    }

    to {
        transform: translate(200px, 50px);
    }
}

.cloud-front {
    animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
    from {
        transform: translate(446px, 48px);
    }

    to {
        transform: translate(100px, 48px);
    }
}

.cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear;
}

@keyframes color-change {
    0% {
        fill: #edc655;
    }

    50% {
        fill: #fcffad;
    }

    100% {
        fill: #f76414;
    }
}
.sun {
    animation: 4s color-change infinite alternate linear;
