body {
    background-color: #004643;
    font-family: Inter, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #FFFFFE;
  }

  h1 {
    font-size: 2.75em;
    font-weight: 700;
  }

  h2 {
    font-size: 2.25em;
    font-weight: 700;
  }

  h3 {
    font-size: 1.75em;
    font-weight: 400;
  }

  h4 {
    font-size: 1.35em;
    font-weight: 400;
  }
  a {
    background-color: #F9BC60;
    color: #F9BC60;
    text-decoration: none; /* No underlining */
  }
  a:hover {
    background-color: #F9BC60;
    color: #F9BC60;
    text-decoration: underline; /* Underlining when hovering over a link */
  }

img {
          width: 100%;
        }
