* {
  box-sizing: border-box;
}

.content {
  margin-top: 75px;
}
body {
  background-color: #004643;
  font-family: Inter, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #fffffe;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
  text-align: center;
}

h2 {
  font-size: 2.25em;
  font-weight: 500;
  text-align: center;
}

h3 {
  font-size: 1.4em;
  font-weight: 500;
  padding-top: 10px;
  margin: 5px 0;
}

h4 {
  font-size: 1em;
  font-weight: 500;
  padding-top: 10px;
  Padding-bottom: 5px;
  text-align: center;
}

p {
  margin: 0;
  padding: 15px 0;
}
a {
  color: #f9bc60;
  text-decoration: none; /* No underlining */
}
a:hover,
a:focus {
  color: #f9bc60;
  text-decoration: overline; /* overlining when hovering over a link */
}

.button.resume {
  display: inline-block;
  background-color: #f9bc60;
  color: white;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #FFFFFF;
  transition-duration: 0.2s;
  transition-property: opacity;
}
.button.resume:hover {
  opacity: 0.8;
}

.button.contact {
  display: inline-block;
  background-color: #f9bc60;
  color: white;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #FFFFFF;
  transition-duration: 0.2s;
  transition-property: opacity;
}
.button.contact:hover {
  opacity: 0.8;
}

.button.dermapal {
  display: inline-block;
  background-color: #f9bc60;
  color: white;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #FFFFFF;
  transition-duration: 0.2s;
  transition-property: opacity;
}
.button.dermapal:hover {
  opacity: 0.8;
}

main {
    padding-top: 56px;
}

img {
  width: 100%;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  display: inline-block;
  margin: 0;
}

nav > ul > li {
  vertical-align: middle;
  padding: 0 10px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

.navtoggle li:not(:last-child) {
  display: inline-block;
}
.navtoggle li:not(:last-child) {
    display: none;
}

.navtoggle, .navtoggle.responsive {
    position: relative;
}

.navtoggle li .icon {
    position: absolute;
    right: 0;
    top: 2px;
    font-size: 20px;
    padding-right: 0;
}

.navtoggle.responsive nav {
    padding: 24px 0 0;
}

.navtoggle.responsive li {
    display: block;
    padding: 10px 0;
    border-top: 1px solid rgba(255, 127, 80, 0.5);
}

.navtoggle.responsive li:last-child {
    padding: 0 0 10px;
}
main {
  padding-top: 99px;
}

#hero {
  background-color: #abd1c6;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#hero span {
  display: block;
}
#hero p {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 400;
  padding: 10px 0;
  line-height: 1.5;
  margin: 0;
  text-align: center;
}


/* Layout styling */
.container {
  padding: 0 15px;
}

header {
  background-color: #ffffff;
  text-align: unset;
  padding: 10px 0;
  position: static;
  width: 100%;
}
.row {
  margin: 30px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.logo {
  max-width: 250px;
  padding: 10px 0;
  margin: 10px 0;
}
nav > ul {
  list-style-type: none;
  padding: 20px;
  margin: 20px;
}
nav > ul > li { display: inline-block; }

footer {
  background-color: #004643;
  text-align: center;
  padding: 10px 0;
  position: static;
  width: 100%;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {

  header {
    text-align: unset;
    padding: 10px 0 4px;
  }
  nav {
    width: auto;
    float: right;
    margin-top: 4px;

}

nav>ul {
      margin: 1em 0;
  }

  nav>ul>li {
      display: inline-block;
  }
[class*="col-"] {
  float: left;
  padding: 20px;
}
.col-md-6 {
  width: 50%;
}
}
/* ==============================
Large devices (1200px and larger)
================================= */
@media only screen and (min-width: 1200px) {

  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float:right;
    margin-top: 4px;
  }
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  .col-lg-7 {
    width: 60%;
  }
  .col-lg-5 {
    width: 40%;
  }
}

  /* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {

header {
  text-align: unset;
  padding: 20px 0 13px;
}

nav {
  width: auto;
  float:right;
  margin-top: 4px;
}
.col-lg-7 {
  width: 60%;
}
.col-lg-5 {
  width: 40%;
}
}
/*animated buttons*/

  .button.resume {
  animation: wiggle 2s;
  animation-iteration-count: infinite;
}

@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}

.button.contact {
animation: wiggle 2s;
animation-iteration-count: infinite;
}

@keyframes wiggle {
0%, 7% {
  transform: rotateZ(0);
}
15% {
  transform: rotateZ(-15deg);
}
20% {
  transform: rotateZ(10deg);
}
25% {
  transform: rotateZ(-10deg);
}
30% {
  transform: rotateZ(6deg);
}
35% {
  transform: rotateZ(-4deg);
}
40%, 100% {
  transform: rotateZ(0);
}
}

.button.dermapal {
animation: wiggle 2s;
animation-iteration-count: infinite;
}

@keyframes wiggle {
0%, 7% {
  transform: rotateZ(0);
}
15% {
  transform: rotateZ(-15deg);
}
20% {
  transform: rotateZ(10deg);
}
25% {
  transform: rotateZ(-10deg);
}
30% {
  transform: rotateZ(6deg);
}
35% {
  transform: rotateZ(-4deg);
}
40%, 100% {
  transform: rotateZ(0);
}
}


@keyframes cloud-move {
    from {
        transform: translate(0, 50px);
    }

    to {
        transform: translate(200px, 50px);
    }
}

.cloud-front {
    animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
    from {
        transform: translate(446px, 48px);
    }

    to {
        transform: translate(100px, 48px);
    }
}

.cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear;
}

@keyframes color-change {
    0% {
        fill: #edc655;
    }

    50% {
        fill: #fcffad;
    }

    100% {
        fill: #f76414;
    }
}
.sun {
    animation: 4s color-change infinite alternate linear;
}
